### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_data_complete.shape

(39170, 11)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:

dist_totschools=school_data_complete["school_name"].nunique()
dist_totschools

15

In [4]:
dist_totstudents=school_data_complete["Student ID"].count()
dist_totstudents

39170

In [5]:
dist_totbudget=school_data_complete["budget"].unique().sum()
dist_totbudget

24649428

In [6]:
dist_avgmath=school_data_complete["math_score"].mean()
dist_avgmath

78.98537145774827

In [7]:
dist_avgread=school_data_complete["reading_score"].mean()
dist_avgread

81.87784018381414

In [8]:
dist_passmath=(school_data_complete["Student ID"][(school_data_complete["math_score"] >= 70)].count())*100/dist_totstudents
dist_passmath

74.9808526933878

In [9]:
dist_passread=(school_data_complete["Student ID"][(school_data_complete["reading_score"] >= 70)].count())*100/dist_totstudents
dist_passread

85.80546336482001

In [10]:
dist_overallpass=(school_data_complete["Student ID"][(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count())*100/dist_totstudents
dist_overallpass

65.17232575950983

In [11]:
df=pd.DataFrame({'Total Schools':[dist_totschools],
                'Total Students':[dist_totstudents],
                'Total Budget':[dist_totbudget],
                'Avg Math Score':[dist_avgmath],
                'Avg Read Score':[dist_avgread],
                '% Pass Math':[dist_passmath],
                '% Pass Read':[dist_passread],
                '% Overall Pass':[dist_overallpass],})
df.style.hide_index()

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
sdc_group=school_data_complete.groupby("school_name")

In [13]:
school_students=sdc_group["Student ID"].count()
school_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [14]:
school_types=sdc_group["type"].unique()
school_types

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [15]:
school_budgets=sdc_group["budget"].unique()
school_budgets

school_name
Bailey High School       [3124928]
Cabrera High School      [1081356]
Figueroa High School     [1884411]
Ford High School         [1763916]
Griffin High School       [917500]
Hernandez High School    [3022020]
Holden High School        [248087]
Huang High School        [1910635]
Johnson High School      [3094650]
Pena High School          [585858]
Rodriguez High School    [2547363]
Shelton High School      [1056600]
Thomas High School       [1043130]
Wilson High School       [1319574]
Wright High School       [1049400]
Name: budget, dtype: object

In [16]:
school_percapbudg=school_budgets/school_students
school_percapbudg

school_name
Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
dtype: object

In [17]:
school_avgmath=sdc_group["math_score"].mean()
school_avgmath

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
school_avgread=sdc_group["reading_score"].mean()
school_avgread

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [34]:
sdf_filt=school_data_complete[(school_data_complete["math_score"]>=70)]
sdf_filt

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [38]:
sdf_temp=sdf_filt.groupby(['school_name'])
sdf_temp

In [41]:
(sdf_temp['math_score'].sum())/school_students

school_name
Bailey High School       56.348071
Cabrera High School      79.046286
Figueroa High School     55.635470
Ford High School         57.493246
Griffin High School      78.818120
Hernandez High School    56.697950
Holden High School       78.667447
Huang High School        55.332191
Johnson High School      55.978786
Pena High School         80.140333
Rodriguez High School    55.972993
Shelton High School      79.155026
Thomas High School       78.812844
Wilson High School       79.077968
Wright High School       79.108333
dtype: float64

In [ ]:
pd.DataFrame({'r': school_types, 
              's': school_students,
             't': school_budgets,
             'u': school_percapbudg,
             'v': school_avgmath,
             'w': school_avgread})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type