### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Use dataframe to calculate districtwide data
dist_totschools=school_data_complete["school_name"].nunique()
dist_totstudents=school_data_complete["Student ID"].count()
dist_totbudget=school_data_complete["budget"].unique().sum()
dist_avgmath=school_data_complete["math_score"].mean()
dist_avgread=school_data_complete["reading_score"].mean()
dist_passmath=(school_data_complete["Student ID"][(school_data_complete["math_score"] >= 70)].count())*100/dist_totstudents
dist_passread=(school_data_complete["Student ID"][(school_data_complete["reading_score"] >= 70)].count())*100/dist_totstudents
dist_overallpass=(school_data_complete["Student ID"][(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count())*100/dist_totstudents

#Create new summary dataframe for district data
dist_summary_df=pd.DataFrame({'Total Schools':[dist_totschools],
                'Total Students':[dist_totstudents],
                'Total Budget':[dist_totbudget],
                'Avg Math Score':[dist_avgmath],
                'Avg Read Score':[dist_avgread],
                '% Pass Math':[dist_passmath],
                '% Pass Read':[dist_passread],
                '% Overall Pass':[dist_overallpass],})
dist_summary_df.style.hide_index()

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
#Define a groupby object to group data by school name
sdc_group=school_data_complete.groupby("school_name")

#Calculate metrics and use groupby object to show each metric by school
school_students=sdc_group["Student ID"].count()
school_types=sdc_group["type"].unique()
school_budgets=sdc_group["budget"].unique()
school_percapbudg=school_budgets/school_students
school_avgmath=sdc_group["math_score"].mean()
school_avgread=sdc_group["reading_score"].mean()

#Filter the data for students with a passing score, then use the groupby object to show by school
sdc_passmath_filt=school_data_complete[(school_data_complete["math_score"]>=70)]
sdc_passmath_group=sdc_passmath_filt.groupby(['school_name'])
school_passmath=(sdc_passmath_group['math_score'].count())/school_students*100
sdc_passread_filt=school_data_complete[(school_data_complete["reading_score"]>=70)]
sdc_passread_group=sdc_passread_filt.groupby(['school_name'])
school_passread=(sdc_passread_group['Student ID'].count())/school_students*100
sdc_passoverall_filt=school_data_complete[(school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70)]
sdc_passoverall_group=sdc_passoverall_filt.groupby(['school_name'])
school_passoverall=(sdc_passoverall_group['Student ID'].count())/school_students*100

#Generate new school summary dataframe 
school_summary_df=pd.DataFrame({'School Type': school_types, 
              'Total Students': school_students,
             'Total Budget': school_budgets,
             'Per Student Budget': school_percapbudg,
             'Avg Math Score': school_avgmath,
             'Avg Read Score': school_avgread,
             '% Passed Math': school_passmath,
             '% Passed Read': school_passread,
             '% Passed Overall': school_passoverall})
school_summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Read Score,% Passed Math,% Passed Read,% Passed Overall
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
school_summary_df.sort_values(by='% Passed Overall', ascending=False)[0:5]

,School Type,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Read Score,% Passed Math,% Passed Read,% Passed Overall
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
school_summary_df.sort_values(by='% Passed Overall', ascending=True)[0:5]

,School Type,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Read Score,% Passed Math,% Passed Read,% Passed Overall
school_name,,,,,,,,,
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
#Filter the data for grade, then group by school name
ninth_grade_filt=school_data_complete[(school_data_complete["grade"]=='9th')]
ninth_grade_filt_group=ninth_grade_filt.groupby(['school_name'])
ninth_avgmathscore=ninth_grade_filt_group['math_score'].mean()
tenth_grade_filt=school_data_complete[(school_data_complete["grade"]=='10th')]
tenth_grade_filt_group=tenth_grade_filt.groupby(['school_name'])
tenth_avgmathscore=tenth_grade_filt_group['math_score'].mean()
eleventh_grade_filt=school_data_complete[(school_data_complete["grade"]=='11th')]
eleventh_grade_filt_group=eleventh_grade_filt.groupby(['school_name'])
eleventh_avgmathscore=eleventh_grade_filt_group['math_score'].mean()
twelfth_grade_filt=school_data_complete[(school_data_complete["grade"]=='12th')]
twelfth_grade_filt_group=twelfth_grade_filt.groupby(['school_name'])
twelfth_avgmathscore=twelfth_grade_filt_group['math_score'].mean()

#Generate school math avg by grade dataframe
school_avgmath_df=pd.DataFrame({'9th': ninth_avgmathscore, 
              '10th': tenth_avgmathscore,
             '11th': eleventh_avgmathscore,
             '12th': twelfth_avgmathscore})
school_avgmath_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
#Use filtered data that we defind previously to simply calculate means and group by school
ninth_avgreadscore=ninth_grade_filt_group['reading_score'].mean()
tenth_avgreadscore=tenth_grade_filt_group['reading_score'].mean()
eleventh_avgreadscore=eleventh_grade_filt_group['reading_score'].mean()
twelfth_avgreadscore=twelfth_grade_filt_group['reading_score'].mean()

#Generate dataframe of avg reading scores by school
school_avgread_df=pd.DataFrame({'9th': ninth_avgreadscore, 
              '10th': tenth_avgreadscore,
             '11th': eleventh_avgreadscore,
             '12th': twelfth_avgreadscore})
school_avgread_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
#Create bins
spending_bins = [0, 580, 610, 640, 670]
spending_group_names = ["<$580", "$580 - $610", "$610 - $640", ">$640"]

In [9]:
#Add new column showing the spending range category for each school using the school-grouped data
school_summary_df['Spending Range'] = pd.cut(school_summary_df['Per Student Budget'], spending_bins, labels=spending_group_names, include_lowest=True)

In [10]:
#Create Spending Range groupby object to show metrics by spending range
spend_group=school_summary_df.groupby(['Spending Range'])
spendrange_school_avgmath=spend_group["Avg Math Score"].mean()
spendrange_school_avgread=spend_group["Avg Read Score"].mean()
spendrange_school_passmath=spend_group["% Passed Math"].mean()
spendrange_school_passread=spend_group["% Passed Read"].mean()
spendrange_school_passoverall=spend_group["% Passed Overall"].mean()
spendrange_school_summary_df=pd.DataFrame({'Avg Math Score': spendrange_school_avgmath, 
              'Avg Read Score': spendrange_school_avgread,
             '% Passed Math': spendrange_school_passmath,
             '% Passed Reading': spendrange_school_passread,
            '% Passed Overall' : spendrange_school_passoverall})
spendrange_school_summary_df

,Avg Math Score,Avg Read Score,% Passed Math,% Passed Reading,% Passed Overall
Spending Range,,,,,
<$580,83.274201,83.989488,93.867718,96.539641,90.582567
$580 - $610,83.549353,83.903238,93.686876,96.340888,90.265583
$610 - $640,79.474551,82.120471,77.139934,87.468080,68.476495
>$640,77.023555,80.957446,66.701010,80.675217,53.717613

## Scores by School Size

* Perform the same operations as above, based on school size.

In [11]:
#Create bins
totstudent_bins = [0,1000,2000,5000]
totstudent_group_names = ["Small (<1000)","Medium (1000-2000)","Large (2000-5000)"]

In [12]:
#Add school size category column to each school using the school-grouped data
school_summary_df['School Size'] = pd.cut(school_summary_df['Total Students'], totstudent_bins, labels=totstudent_group_names, include_lowest=True)

In [13]:
#Create school size groupby object to show metrics by school size
schoolsize_group=school_summary_df.groupby(['School Size'])
schoolsize_school_avgmath=schoolsize_group["Avg Math Score"].mean()
schoolsize_school_avgread=schoolsize_group["Avg Read Score"].mean()
schoolsize_school_passmath=schoolsize_group["% Passed Math"].mean()
schoolsize_school_passread=schoolsize_group["% Passed Read"].mean()
schoolsize_school_passoverall=schoolsize_group["% Passed Overall"].mean()
schoolsize_school_summary_df=pd.DataFrame({'Avg Math Score': schoolsize_school_avgmath, 
              'Avg Read Score': schoolsize_school_avgread,
             '% Passed Math': schoolsize_school_passmath,
             '% Passed Reading': schoolsize_school_passread,
            '% Passed Overall' : schoolsize_school_passoverall})
schoolsize_school_summary_df

,Avg Math Score,Avg Read Score,% Passed Math,% Passed Reading,% Passed Overall
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [14]:
#Create school type groupby object based on full district data set
schooltype_group=school_data_complete.groupby(["type"])

In [15]:
#Use school type group to caluclate metrics by school type
schooltype_totstudents=schooltype_group["Student ID"].count()
schooltype_avgmath=schooltype_group["math_score"].mean()
schooltype_avgread=schooltype_group["reading_score"].mean()
sdc_passmath_type_group=sdc_passmath_filt.groupby(['type'])
schooltype_passmath=(sdc_passmath_type_group['math_score'].count())/schooltype_totstudents*100
sdc_passread_type_group=sdc_passread_filt.groupby(['type'])
schooltype_passread=(sdc_passread_type_group['reading_score'].count())/schooltype_totstudents*100
sdc_passoverall_type_group=sdc_passoverall_filt.groupby(['type'])
schooltype_passoverall=(sdc_passoverall_type_group['Student ID'].count())/schooltype_totstudents*100
schooltype_school_summary_df=pd.DataFrame({'Avg Math Score': schooltype_avgmath, 
              'Avg Read Score': schooltype_avgread,
             '% Passed Math': schooltype_passmath,
             '% Passed Reading': schooltype_passread,
            '% Passed Overall' : schooltype_passoverall})
schooltype_school_summary_df

,Avg Math Score,Avg Read Score,% Passed Math,% Passed Reading,% Passed Overall
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,90.560932
District,76.987026,80.962485,66.518387,80.905249,53.695878